@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-secondary-rgb: 75, 85, 99;
  --background-main-rgb: 255, 255, 255;
  --background-side-rgb: 214, 219, 220;

  --button-primary-background-rgb: 0, 0, 0;
  --button-primary-foreground-rgb: 255, 255, 255;
  --button-hover-primary-background-rgb: 20, 20, 20;
  --button-secondary-background-rgb: 255, 255, 255;
  --button-secondary-foreground-rgb: 0, 0, 0;
  --button-secondary-border-rgb: 0, 0, 0;
  --button-hover-secondary-background-rgb: 220, 220, 220;

  --input-bg-rgb: 255, 255, 255;
  --input-text-rgb: 0, 0, 0;
  --input-border-rgb: 200, 200, 200;
  --input-focus-border-rgb: 75, 85, 99;
  --input-hover-border-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-secondary-rgb: 156, 163, 175;
    --background-main-rgb: 0, 0, 0;
    --background-side-rgb: 24, 24, 24;

    --button-primary-background-rgb: 255, 255, 255;
    --button-primary-foreground-rgb: 0, 0, 0;
    --button-hover-primary-background-rgb: 220, 220, 220;
    --button-secondary-background-rgb: 0, 0, 0;
    --button-secondary-foreground-rgb: 255, 255, 255;
    --button-secondary-border-rgb: 255, 255, 255;
    --button-hover-secondary-background-rgb: 20, 20, 20;

    --input-bg-rgb: 38, 38, 38;
    --input-text-rgb: 255, 255, 255;
    --input-border-rgb: 75, 85, 99;
    --input-focus-border-rgb: 107, 114, 128;
    --input-hover-border-rgb: 255, 255, 255;
  }
}

html {
  background-color: rgb(var(--background-side-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-main-rgb));
    
}

nav {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-main-rgb));
}

.text-secondary {
  color: rgb(var(--foreground-secondary-rgb));
}

.button-primary {
  background-color: rgb(var(--button-primary-background-rgb));
  color: rgb(var(--button-primary-foreground-rgb));
}

.button-primary:hover {
  background-color: rgb(var(--button-hover-primary-background-rgb));
}

.button-secondary {
  background-color: rgb(var(--button-secondary-background-rgb));
  color: rgb(var(--button-secondary-foreground-rgb));
  border: 1px solid;
  border-color: rgb(var(--button-secondary-border-rgb));
}

.button-secondary:hover {
  background-color: rgb(var(--button-hover-secondary-background-rgb));
}

input {
  background-color: rgb(var(--input-bg-rgb));
  color: rgb(var(--input-text-rgb));
  border: 1px solid;
  border-color: rgb(var(--input-border-rgb));
  /* padding: 0.5rem;
  border-radius: 0.375rem; */
  transition: border-color 0.3s;
}

input:focus {
  border-color: rgb(var(--input-focus-border-rgb));
  outline: none;
}

input:hover {
  border-color: rgb(var(--input-hover-border-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}
